<h1>Title of the article: <%= @blog.title %></h1>
<h2>Comments amount: <%= @comments.length %></h2>
<%= render @comments %>
<%= link_to "New Comment", new_blog_comment_path(@blog), class:"btn btn-primary" %>
<%= link_to "Back", blogs_path, class:"btn btn-primary" %>